@model IEnumerable<eProject1.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your requests</h1>

<table class="table table-bordered" >
    <thead style="background-color: #0060B1; color:white " >
        <tr>
            <th>
                Title
            </th>
            <th>
                Request from Employee
            </th>
            <th>
                Answer from Admin
            </th>
            <th>
                CreateDate
            </th>
            <th>
                Status
            </th>
            
        </tr>
    </thead>
    <tbody style="border: 1px solid black;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.contact_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contact_text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.answer)
                </td>
                <td>
                    @if (item.status == 1)
                    {
                        <span>Pending</span>
                    }
                    else if (item.status == 2)
                    {
                        <span class="text-success">Approved</span>
                    }
                    else if (item.status == 3)
                    {
                        <span class="text-danger">Rejected</span>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
