@model IEnumerable<eProject1.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Request from Employee
            </th>
            <th>
                Answer from Admin
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.contact_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contact_text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.answer)
                </td>
                <td>
                    @if (item.status == 1)
                    {
                        <span>Pending</span>
                    }
                    else if (item.status == 2)
                    {
                        <span>Approved</span>
                    }
                    else if (item.status == 3)
                    {
                        <span>Rejected</span>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
