@model eProject1.Employee
@{ 
    ViewBag.title = "Login";
}
<div class="login-box-body" style="text-align:center">
<h1 class="login-box-msg">Login</h1>
<form asp-action="Login" asp-controller="Account" method="post" style="text-align:center">
    <div class="form-group"style="text-align:center">
        <label asp-for="employee_name" class="control-label">Employee Name</label>
        <input asp-for="employee_name" class="form-control" name="Name"/>
        <span asp-validation-for="employee_name" class="text-danger"></span>
    </div>
    <div class="form-group"style="text-align:center">
        <label asp-for="employee_password" class="control-label">Password</label>
        <input asp-for="employee_password" type="password" class="form-control" name="pass"/>
        <span asp-validation-for="employee_password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
</div>
