@model IEnumerable<eProject1.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                Full Name
            </th>
            <th>
                Password
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin_name)
            </td>
            <td>
                <input type="password" value="@item.admin_password" readonly style="border:none; background-color:transparent;"/>
            </td>
            
        </tr>
        }
    </tbody>
</table>
