@{ ViewData["Title"] = "Home Page"; }

<section class="section-content padding-y">
    <div class="container">
        <nav class="row">
            @foreach (var item in Model)
            {
<div class="col-md-3">
    <div class="card card-category">
        <div class="img-wrap" style="background:#ffffff">
            <a href="@Url.Action("Details","Home",new { id = item.news_id })"><img src="~/admin/img/@item.news_img" width="50" /></a>
        </div>
        <div class="card-body">
            <h4 class="card-title"><a href="@Url.Action("Details","Home",new { id = item.news_id })">@item.news_title</a></h4>
        </div>
    </div>
</div>            }
        </nav>
    </div>
</section>