@model eProject1.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="Section-content bg-white padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <div>
                        <a href="#"><img src="/@Model.news_img" width="50" /></a>
                    </div>
                </div>
            </aside>
            <ain class="col-md-6">
                <article class="news-info-aside">
                    <h2 class="title mt-3">@Model.news_title</h2>
                </article>
            </ain>
        </div>
    </div>
</section>
<section class="section-name padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @Model.news_text
            </div>
        </div>
    </div>
</section>

