@model eProject1.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content" style="text-align:center">
    <div class="container">

    <div id="content" style="text-align:right">
    <h1 style="text-align:center">@Model.news_title</h1>
    <div style="text-align:center">
        <img src="/@Model.news_img" width="960" alt="" />
        <p>@Model.news_date</p>
    </div>
    <p style="text-align:center">@Model.news_text</p>
    </div>
     </div>
 </section>

